body{
  background-color: lightblue;
}
button{
  background-color: black;
  color: white;
  width: 150px;
  height: 60px;
  margin-left: 40%;
  margin-top: 1%;
  font-size: 16px;
  font-weight: 1000;
  font-family: 'Times New Roman', Times, serif;
  margin-top: 50px;
}
.quote{
  background-color: green;
  color:white;
  /* width: minmax(auto,500px);
  height: minmax(200px,auto); */
  width: 50%;
  height: minmax(500px,auto);
  margin-left: 23%;
  margin-top:20px;
  border-radius: 25px;
  padding: 100px 40px 100px 30px;
}
/* .author{
  background-color: lightcoral;
  color:black;
  display: block;
  width:200px;
  height: 80px;
  margin-left: 40px;
  margin-top: 10px;
  border-radius: 10px;
  padding-left: 40px;
  padding-top:20px;
} */

h1{
  font-size: x-large;
  margin-left: 35%;
}

@media(max-width:600px) and (min-width:350px){
  button{
    margin-top: 30px;
    margin-left: 45%;
    width: 50px;
    height:30px;
    font-size: 10px;
  }
  .quote{
    background-color: green;
    color:white;
    /* width: minmax(auto,500px);
    height: minmax(200px,auto); */
    width:  minmax(30%,50%);
    height: minmax(300px,auto);
    margin-left: 20%;
    margin-top:20px;
    border-radius: 15px;
    padding: 60px 40px 60px 40px;
    font-size: 14px;
  }
  h1{
    font-size: medium;
    margin-left: 35%;
  }
}

@media(max-width:350px){
  button{
    margin-top: 30px;
    margin-left: 40%;
    width: 50px;
    height:30px;
    font-size: 10px;
  }
  .quote{
    background-color: green;
    color:white;
    /* width: minmax(auto,500px);
    height: minmax(200px,auto); */
    width:  30%;
    height: minmax(300px,auto);
    margin-left: 20%;
    margin-top:5%;
    margin-right: 5%;
    border-radius: 15px;
    padding: 60px 40px 60px 40px;
    font-size: 14px;
  }
  h1{
    font-size: medium;
    margin-left: 10%;
  }
}
